.nav-hover:hover{
  color: rgb(255, 217, 223);
  cursor: pointer;
}

footer{
  background-color: #06283D;
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 30px;
  color: white;
  text-align: center;
  font-size: 10px;
}