.nav-hover:hover{
  color: rgb(255, 217, 223);
  cursor: pointer;
}

.link {
  color: inherit;
  text-decoration: none;
}

.image-hover:hover{
  padding: 0;
}

.footer{
  background-color: #06283D;
  bottom: 0;
  position: relative;
  width: 100%;
  padding: 30px;
  color: white;
  text-align: center;
  font-size: 10px;
}